<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301exchange.exchange" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- - Access to camera Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- - write to SD card permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- read permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".Activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".Activities.EditBookActivity"
            android:label="@string/title_activity_edit_item" >
        </activity>
        <activity
            android:name=".Activities.EditCommentActivity"
            android:label="@string/title_activity_edit_comment" >
        </activity>
        <activity
            android:name=".Activities.InventoryActivity"
            android:label="@string/title_activity_inventory">
        </activity>
        <activity
            android:name=".Activities.ViewPersonActivity"
            android:label="@string/title_activity_view_person" >
        </activity>
        <activity
            android:name=".Activities.TradeManagerActivity"
            android:label="@string/title_activity_trade_manager" >
        </activity>
        <activity
            android:name=".Activities.TradeListingActivity"
            android:label="@string/title_activity_trade_listing" >
        </activity>
        <activity
            android:name=".Activities.TradeItemsInventoryActivity"
            android:label="@string/title_activity_trade__items_inventory" >
        </activity>
        <activity
            android:name=".Activities.TradeActivity"
            android:label="@string/title_activity_trade" >
        </activity>
        <activity
            android:name=".Activities.ConfigurationActivity"
            android:label="@string/title_activity_configuration" >
        </activity>
        <activity
            android:name=".Activities.PhotoActivity"
            android:label="Edit Photo" >
        </activity>

        <activity
            android:name=".Activities.ProfileDetailsActivity"
            android:label="Detailed Profile">
        </activity>
        <activity
            android:name=".Activities.Login"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SendEmailActivity"
            android:label="SendEmail" />
        <activity
            android:name=".Activities.AddBookActivity"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name=".Activities.BookDetailsActivity"
            android:label="@string/title_activity_book_details" >
        </activity>
        <activity
            android:name=".Activities.InventoryDetailsActivity"
            android:label="@string/title_activity_inventory_details" >
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
